.display-test{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    width: 400px;
    height: 5000px;
    background-color: white;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr [fourth];
    grid-template-rows: 120px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
       ".logo."  
       ". first ."
       ". second ."
       ". third  ."
       ". fourth ."
       ". khmsa ."
       ". sta ."
       ". sb3a ."
       ".tmnia."
       ".ts3od."
       ".echra."
       ".hdach."
       ".tnach.";
    
}
p{
 font-size: 30px;
 margin: 0%;
 
}
img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
.logo{
    grid-area: logo;
    width: 400px;
    height: 100px;
}
.txt1{
   grid-area: first ; 
   background-color: lightcoral;
}
.txt2{
    grid-area: second ;
    background-color: lightgrey;

}
.txt3{
    grid-area: third ;
    background-color: lightyellow;

}
.txt4{
    grid-area: fourth ;
    background-color: lightgoldenrodyellow;

}
.txt5{
    grid-area: khmsa ; 
    background-color: lightskyblue;
 }
 .txt6{
     grid-area: sta ;
     background-color: lightsteelblue;
 
 }
 .txt7{
     grid-area: sb3a ;
     background-color: goldenrod;
 
 }
 .txt8{
     grid-area: tmnia ;
     background-color: grey;
 
 }.txt9{
    grid-area: ts3od ; 
    background-color: lightseagreen;
 }
 .txt10{
     grid-area: echra ;
     background-color: lightgreen;
 
 }
 .txt11{
     grid-area: hdach ;
     background-color: lightpink;
 
 }
 .txt12{
     grid-area: tnach ;
     background-color: lightyellow;
 
 }

